*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(237, 216, 216);
}
.container{
    max-width: 900px;
    margin-top: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px;
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
    color: rgb(183, 0, 255);
}
.form_container{
    margin-top: 20px;
    display: grid;
    /* grid-template-columns:repeat(auto-fit,minma(200px , 1fr)) ; */
    gap:20px
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input,
select,
textarea{
    padding: 6px;
    border-radius: 6px;
    font-size: 15px;
}
input:focus{
    outline-color: red;
}
.button_container{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
button{
    background-color: crimson;
    border: transparent  2px;
    padding: 5px 10px;
    color: whitesmoke;
    border-radius: 8px;
    transition:0.3s ease-in;
}
button:hover{
    background-color:#ccc ;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(173, 230, 187);
    }
    .textarea_control{
        grid-column: 1 /span 1;
    }
  }